<div class="layout">
  <div class="row">
    <div class="col-xs-10">
      <input
        type="text"
        placeholder="Type city name"
        style="width: 340px"
        #cityName
      />
    </div>
    <div class="col-xs-2">
      <button
        type="button"
        class="btn btn-default"
        (click)="searchCity(cityName.value)"
      >
        <img src="https://img.icons8.com/android/24/000000/plus.png" />
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-10">
      <input
        type="text"
        [formControl]="search"
        placeholder="Recent locations"
        (input)="suggest()"
        style="width: 340px"
      />
    </div>
    <div class="suggestions" *ngIf="suggestions.length">
      <div class="row" *ngFor="let item of suggestions; let i = index">
        <div class="col-xs-8">
          <p>{{item}}</p>
        </div>
        <div class="col-xs-2">
          <button
            type="button"
            class="btn btn-default icons"
            (click)="reload(item)"
          >
            <img
              src="https://img.icons8.com/ios-glyphs/15/000000/refresh--v1.png"
            />
          </button>
          <button
            type="button"
            class="btn btn-default icons"
            (click)="delete(i)"
          >
            <img
              src="https://img.icons8.com/ios-glyphs/15/000000/multiply.png"
            />
          </button>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>
</div>
